.button {
    background-color: #552a72;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 20px;
  }
  
  .input {
      border-radius: 10rem;
      width: 35%;
      height: 2rem;
      font: 16px system-ui;
      padding: 6px 10px;
  }
  
  /* .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
  } */
  
  /* .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  } */
  
  .background {
      background-color:black
  }
  
  .image-blurred {
      background-image: url('https://static.vecteezy.com/system/resources/previews/007/210/104/large_2x/galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-free-photo.jpg');
      width: 100%;
      height: 500px;
      object-fit: none;
      margin-top: 0px;
      box-shadow: 0 0 25px 25px black inset;
  }
  
  img {
      width: 200px;
      max-height: auto;
  }
  
  .general-text {
      color: white;
  }
  
  .header {
      margin: 100px 0 60px;
      font-family:'Times New Roman', Times, serif, bold;
  } 
  
  .text {
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 30px;
      padding-left: 55px;
      margin-top: 20px
  }
  
  #intro-text{
      border-color: white;
      border-style: solid;
      border-width: 2px;
      border-radius: 8px;
  
      margin-left: 30px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 40px;
  
      padding-left: 10px;
  
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px
  }
   #question-one{
      margin-left: 30px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 40px;
      
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px
   }
  
   #question-two{
      margin-left: 30px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 40px;
      
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px
   }
  
   #question-three{
      margin-left: 30px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 40px;
      
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px
   }
  
   #score-display{
      margin-left: 30px;
      margin-right: 175px;
      margin-top: 20px;
      margin-bottom: 40px;
      
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px
   }