<!DOCTYPE html>

<head>
    <title>Astroid Annihilator</title> 
    <link rel="stylesheet" href="static/styles.css">
    <script type="text/javascript" src="static/part2.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2613/PNG/512/astronomy_jupiter_galaxy_planet_space_system_universe_icon_156875.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="background image-blurred">
    <div class="text-center general-text">
        <header id="welcome-header" class="header">
            <h1>WELCOME TO ASTROID ANNIHILATOR!</h1>
        </header>
    </div>

    <div class="text general-text">
        <h3> How to Play:</h3>
        <p id="intro-text"> In this game you will traverse through the galaxy as a spaceship while dodging and shooting at astroids to survive. As you play you'll encounter powerups with fun facts. Be sure to pay attention because you'll be quizzed at the end!"</p>
    </div>

    <div class="text general-text">
        <h3>Lets Play!</h3>
    </div>
    
        <h3>Quiz!</h3>
    </div>

    <div class = "text general-text" id = "question-one">What is the largest planet?
        <form required> 
            <input id="answer-one" type="text"> 
            <button class="button" id = "enter-button-one">Enter</button>
        </form>
     </div>

     <div class = "text general-text" id = "question-two">Triton is the moon of which planet?
        <form required> 
            <input id="answer-two" type="text"> 
            <button class="button" id="enter-button-two">Enter</button>
        </form>
     </div>

     <div class = "text general-text" id = "question-three">What is the hottest planet?
        <form required> 
            <input id="answer-three" type="text"> 
            <button class="button" id="enter-button-three">Enter</button>
        </form>
     </div>

     <p class = "text-center general-text" id = "score-display"></p>

</body>

</html>
